@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    font: 1em/1.5 "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

body {    
    font-size: 1.3em;
}

header {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url("../img/0028-f4621.jpg") center no-repeat;
    /* Image Credit: Unsplash.me */
    background-size: cover;
}

    header .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    header h1, header h2 {
        margin: 0;
    }

    header h2 {
        text-transform: uppercase;
        margin-top: -.5em;
    }

    header hgroup {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        border: 5px solid #fff;
        padding: .5em 3em;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    header .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #333 center no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: 0;
        -webkit-filter: blur(4px);
    }

img {
    margin-right: 20px
}

.site {
    padding: 20em 0;
    text-align: center;
    background-color: #efefef;
    font-size: .8em;
    color: #444;
    position: relative
}

    .site a {
        color: #666;
        text-decoration: none;
    }

        .site a:hover {
            color: #222;
        }

    .site nav {
        position: absolute;
        top: 0;
        left: 0;
        background: #222;
        width: 100%
    }

        .site nav a {
            padding: 10px 30px;
            font-size: 1.3em;
            display: inline-block
        }

            .site nav a:hover {
                background: #333;
                color: #fff
            }

footer{
    top: 170%;
}

#homeQuote {
    width: 80%;
    margin-left: 9%;
    margin-top: -15%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/
}

#homeLogo {
    width: 470px;
    margin-left: 28px;
}

.site {
    background-image: url("../img/backgroundswirls.png");
    background-size: cover;
}

.fa {
    padding: 20px !important;
    font-size: 30px !important;
    width: 70px !important;
    text-align: center !important;
    text-decoration: none !important;
    margin: 5px 2px !important;
    border-radius: 50% !important;
}

    .fa:hover {
        opacity: 0.7 !important;
    }

.fa-facebook {
    background: #3B5998 !important;
    color: white !important;
}

.fa-twitter {
    background: #55ACEE !important;
    color: white !important;
}

.fa-youtube {
    background: #bb0000;
    color: white !important;
}

.fa-instagram {
    background: #125688 !important;
    color: white !important;
}

.fa-soundcloud {
    background: #ff5500;
    color: white !important;
}

.fa-tiktok {
    background: #FE2C55;
    color: white;
}

#socialMediaLinks{
    margin-top: 112px;
}